# SMTP credentials: actual credentials to access an SMTP server (e.g. Gmail App Password)
# Injected via environment variables. If not defined, a No-Op email service will be used

spring:
  application:
    name: ts-notifier
    description: 'Task Scheduler - Notifier module'
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${TS_SMTP_EMAIL:}
    password: ${TS_SMTP_PASSWORD:}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000
  thymeleaf:
    enable: true
sending:
  email:
    sender: ${TS_SMTP_EMAIL:}
    senderName: 'Javanauta'
server:
  port: 8082
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true
